<br>
<center><h1><b>Your account <%= current_user.nickname%></b></h1></center>
<center><p><h4><%= link_to "Edit", edit_user_registration_path%></h4></p></center>
<br>
<% @posts.where(user_id: current_user).each do |post| %>
<h1><%= link_to post.title, post_path(post.id) %></h1>
	<p><%= post.body %></p>
	<p>Author: <%= post.user.nickname %> | Create at: <%= post.created_at %></p>
	<% if current_user != nil and current_user.id == post.user_id %>
	<p>
	<%= link_to "Edit",  edit_post_path(post.id) %> or
	<%= link_to "Delete", post_path(post.id), data: {confirm: 'Rili deleted your post?'}, method: :delete %>
	</p>
	<%end%>
	<%end%>